#display-loading{
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	height:100%;
	width:100%;
}
@keyframes girar{
	from{
		transform:scale(.8);
	}
	to{
		transform:rotate(180deg) scale(.8);
	}
}
@-moz-keyframes girar{
	from{
		-moz-transform:scale(.8);
		transform:scale(.8);
	}
	to{
		-moz-transform:rotate(180deg) scale(.8);
		transform:rotate(180deg) scale(.8);
	}
}
@-webkit-keyframes girar{
	from{
		-webkit-transform:scale(.8);
		transform:scale(.8);
	}
	to{
		-webkit-transform:rotate(180deg) scale(.8);
		transform:rotate(180deg) scale(.8);
	}
}
@-o-keyframes girar{
	from{
		-o-transform:scale(.8);
		transform:scale(.8);
	}
	to{
		-o-transform:rotate(180deg) scale(.8);
		transform:rotate(180deg) scale(.8);
	}
}
#display-loading #engranaje{
	animation:girar 2s infinite linear;
	width:240px;
	height:240px;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	margin:auto;
}
#display-loading img, #display-loading object{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	margin:auto;
}
#title-loading{
	margin-top:30px;
	text-align:center;
	color:white;
}
